
html {
    font-size: 10px;
}

.title-prew {
    color: black;
    font: 400 1.5rem/2.25rem "P T Serif";
}

.date {
    font: 400 0.875rem/2.25rem "P T Sans";
    color: #b0b0b0;
    padding-right: 5px;
}

.name {
    font: 400 0.875rem/2.25rem "P T Sans";
    color: #1a54e7;
    text-decoration: underline;
    border-left: 1px solid #b0b0b0;
    padding-left: 5px;
}

.section {
    position: absolute;
    font: 700 1.125rem/2.25rem "P T Sans";
    display: inline-block;
    bottom: 30%;
    padding: 3px 17px;
    a {
        color: white;
    }
}

.section-tech {
    background-color: black;
}

.section-trips {
    background-color: #d90445;

}

.section-people {
    background-color: #1a54e7;
}

.section-fasion {
    background-color: #8200b2;
}

.section-nature {
    background-color: #58b600;
}

.navbar-default-blog {
    background: #1a54e7;
    background: -webkit-linear-gradient(left, #1a54e7 50%, #ffffff 50%);
    background: -o-linear-gradient(left, #1a54e7 50%, #ffffff 50%);
    background: -moz-linear-gradient(left, #1a54e7 50%, #ffffff 50%);
    background: linear-gradient(left, #1a54e7 50%, #ffffff 50%);
    margin-bottom: 0;
    border-radius: 0;
    .navbar-collapse-blog {
        background: #ffffff;
        .navbar-left {
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            .search{
                .btn {
                    right: 0;
                    top: 0;
                    left: 0;
                    background-color: #f6f6f6;
                    padding: 11px 19px;
                    border: 1px solid #b2b2b2;
                    //border: none;
                    i {
                        opacity: 0.37;
                        color: grey;
                    }
                }
                .input-sm{
                    display: inline-block;
                    width: 78%;
                    padding: 24px 19px;
                    margin-left: 0;
                }
            }
        }
        .navbar-nav-blog {
            .nav-center {
                color: #b2b2b2;
                font: 400 2.125rem/2.25rem "P T Sans";
            }
        }
        .navbar-right-blog {
            font: 400 2.125rem/2rem "P T Sans";
            li {
                a {
                    color: #1a54e7;

                }
            }
        }
    }
    .navbar-header-blog {

        h1 {
            margin-top: 0;
            margin-bottom: 0;
            .brand-blog {
                height: auto;
                background: #1a54e7;
                color: white;
                font: 400 1.5rem/2.25rem "P T Sans";
                padding: 24px 35px 24px 40px;
                text-align: right;
                span {
                    font: 700 1.5rem/2.25rem "P T Sans";
                }

            }
        }
    }

}

.section-welcome {
    padding-right: 0;
    padding-left: 0;
    .carousel-inner-blog {
        .item-blog {
            height: calc(100vh - 84px);
            .cover {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .section-slide {
                position: absolute;
                font: 700 1.125rem/2.25rem "P T Sans";
                display: inline-block;
                bottom: 2%;
                left: 0;
                padding: 3px 17px;
                a {
                    color: white;
                }
            }
            .date {
                position: absolute;
                display: inline-block;
                bottom: 2%;
                right: 0;
            }
            .item-caption-blog {
                position: absolute;
                top: 0;
                .text-welcome {
                    color: white;
                    font: 400 2.5rem/2.3rem "P T Serif";
                    span {
                        display: block;
                    }
                }
                .photo-author {
                    margin-top: 10%;
                }
            }
        }
    }

    .left-carousel-control {
        width: auto;
        padding: 12px;
        opacity: 1;
        .glyphicon-chevron-left {
            background: white;
            color: black;
            font-size: 12px;
            padding: 8px;
        }
    }
    .right-carousel-control {
        width: auto;
        padding: 12px;
        opacity: 1;
        .glyphicon-chevron-right {
            background: white;
            color: black;
            font-size: 12px;
            padding: 8px;
        }
    }
}

.section-top-prew,
.section-bottom-prew {
    padding-top: 32px;
    background-color: #f6f6f6;
    .title-prew {
        color: #000000;
        font: 400 1.5rem/2.25rem "P T Serif";
        margin-top: 5px;
        margin-bottom: 0;
    }
    .section-prew {
        bottom: 52%;
        position: absolute;
        font: 700 1.125rem/2.25rem "P T Sans";
        display: inline-block;
        padding: 3px 17px;
        a {
            color: white;
        }
    }
    .img-top-prew {
        margin-top: 20px;
    }

}

.section-content {
    .section-bg {
        bottom: 10%;
    }
    .img-content-bg {
        min-height: 200px;
        margin-top: 20px;
    }
    .date-bg-content {
        position: absolute;
        bottom: 10%;
        right: 8%;
    }
    .bg-content {
        position: absolute;
        top: 25%;
        left: 20px;
        right: 20px;
        text-align: center;
        color: #ffffff;
        font: 400 2.5rem/1.875rem "P T Serif";
        .smale {
            font: 400 1.125rem/1.875rem "P T Serif";
            display: block;
            padding-top: 20px;
        }
    }
    .title-content {
        color: #000000;
        font: 400 1.125rem/1.875rem "P T Serif";
        margin-top: 5px;
        margin-bottom: 0;
    }
    .img-content {
        margin-top: 20px;
    }
}

.e-maile {
    background: url("../images/20-layers.png") #1a54e7;
    min-height: 250px;
    padding-top: 35px;
    .title-email {
        margin-top: 0;
        font: 400 3rem/3.75rem "P T Serif";
        color: #ffffff;
        text-align: center;
    }
    .text-email {
        color: #8baeff;
        font: 400 1.5rem/2.25rem "P T Serif";
        text-align: center;
    }
    .form-mail-blog {
        .form-control-blog {
            background-color: #2c6cff;
            border-radius: 25px;
            border: none;
            padding: 20px;
        }
        .btn-default-blog {
            background-color: #ffffff;
            border-radius: 25px;
            margin-left: -40px;
            width: 134px;
            color: #1a54e7;
            font: 700 1.125rem/2.25rem "P T Sans";
            z-index: 500;
        }
    }
}

#footer {
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    color: #a7acbc;
    font: 300 1.125rem/2.25rem "Proxima Nova";
    span {
        font-weight: 700;
    }
}



@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 13px;
    }
    .section {
        bottom: 45%;
        padding: 3px 17px;
    }
    .navbar-default-blog {
        .navbar-collapse-blog {
            .navbar-left{
                .search{
                    .btn {
                        right: 0;
                        top: 0;
                        left: 0;
                        background-color: #f6f6f6;
                        padding: 28px 19px;
                        border-radius: 0;
                        border: none;
                        i {
                            opacity: 0.37;
                            color: grey;
                        }
                    }
                    .input-sm{
                        display: inline-block;
                        padding: 38px 19px;
                        width: 58%;
                    }
                }
            }
            .navbar-left {
            }
            .navbar-nav-blog {
                .nav-center {
                    font: 400 1.8rem/2.25rem "P T Sans";
                    a{
                        padding: 28px 5px;
                    }
                }
            }
            .navbar-right-blog {
                font: 400 1.8rem/2.25rem "P T Sans";
                li {
                    a{
                        padding: 28px 20px;
                    }
                }
            }
        }
        .navbar-header-blog {

            h1 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .section {
            font: 700 1.125rem/2.25rem "P T Sans";
            bottom: 38%;
            a {
                color: white;
            }
        }
        .section-prew {
            bottom: 42%;
        }
    }
    .section-welcome {
        .carousel-inner-blog {
            .item-blog {
                height: calc(100vh - 84px);
                .item-caption-blog {
                    top: 0;
                    .text-welcome {
                        font: 400 3rem/3.75rem "P T Serif";
                        span {
                            display: block;
                        }
                    }
                    .photo-author {
                        margin-top: 30%;
                    }
                }
                .cover {
                    //height: auto;
                }

                .section-slide {
                    bottom: 6%;
                    left: 0;
                    padding: 3px 17px;
                }
                .date {
                    bottom: 6%;
                    right: 0;
                }
            }
        }
    }
    .e-maile {
        .form-mail-blog {
            .form-control-blog {
                padding: 22px;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 14px;
    }
    .navbar-default-blog {
        .navbar-collapse-blog {
            .navbar-left {
                .search {
                    background: #FFFFFF;
                    padding: 5px 0;
                    width: 60px;
                    height: 30px;
                    position: relative;
                    left: 0;
                    line-height: 22px;
                    -webkit-transition: all 0.7s ease-in-out;
                    -moz-transition: all 0.7s ease-in-out;
                    -o-transition: all 0.7s ease-in-out;
                    transition: all 0.7s ease-in-out;
                    &:hover {
                        input, input:focus {
                            width: 170px;
                            margin-left: 60px;
                            padding: 38px;
                        }
                    }
                    input {
                        border: 1px solid #cdcdcd;
                        z-index: 50;
                        position: absolute;
                        width: 0;
                        top: 0;
                        float: Left;
                        margin-left: 53px;
                        -webkit-transition: all 0.7s ease-in-out;
                        -moz-transition: all 0.7s ease-in-out;
                        -o-transition: all 0.7s ease-in-out;
                        transition: all 0.7s ease-in-out;
                        height: 30px;
                        line-height: 18px;
                        padding: 40px 2px;
                        border-radius: 1px;
                        background: #ffffff;
                    }
                }


                .btn {
                    z-index: 100;
                    position: absolute;
                    right: 0;
                    top: 0;
                    left: 0;
                    background-color: #f6f6f6;
                    padding: 28px 19px;
                    border-radius: 0;
                    border: none;
                    i {
                        opacity: 0.37;
                        color: grey;
                        padding: 16.5px 3px;
                    }
                }
            }
            .navbar-nav-blog {
                .nav-center {
                    font: 400 1.125rem/2.25rem "P T Sans";
                    a {
                        padding: 28px 11px;

                    }
                }
            }
            .navbar-right-blog {
                font: 400 1.125rem/2.25rem "P T Sans";
                li {
                    a {
                        padding: 28px 10px;

                    }
                }
            }
        }
        .navbar-header-blog {

            h1 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .section {
            font: 700 1.125rem/2.25rem "P T Sans";
            bottom: 38%;
            a {
                color: white;
            }
        }
    }
    .section-welcome {
        .item-caption-blog {
            position: absolute;
            top: 0;
            .text-welcome {
                color: white;
                font: 400 3rem/3.75rem "P T Serif";
                span {
                    display: block;
                }
            }
        }
    }
    .section {
        font: 700 1.125rem/2.25rem "P T Sans";
        bottom: 38%;
    }
    .section-content{
        .date-bg-content {
            right: 2%;
        }
    }
    .section-top-prew,
    .section-bottom-prew {
        .section-prew {
            bottom: 35%;
        }
    }
    .e-maile {
        .form-mail-blog {
            .form-control-blog {
                padding: 23px;
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1999px) {
    html {
        font-size: 16px;
    }
    .navbar-default-blog {
        .navbar-collapse-blog {
            .navbar-left {
                .search {
                    background: #FFFFFF;
                    padding: 5px 0;
                    width: 60px;
                    height: 30px;
                    position: relative;
                    left: 0;
                    //float: left;
                    line-height: 22px;
                    -webkit-transition: all 0.7s ease-in-out;
                    -moz-transition: all 0.7s ease-in-out;
                    -o-transition: all 0.7s ease-in-out;
                    transition: all 0.7s ease-in-out;
                    &:hover {

                        //width: 230px;
                        input, input:focus {
                            width: 170px;
                            margin-left: 60px;
                            padding: 40px;
                        }

                    }

                    input {
                        border: 1px solid #cdcdcd;
                        z-index: 50;
                        position: absolute;
                        width: 0;
                        top: 0;
                        float: Left;
                        margin-left: 53px;
                        -webkit-transition: all 0.7s ease-in-out;
                        -moz-transition: all 0.7s ease-in-out;
                        -o-transition: all 0.7s ease-in-out;
                        transition: all 0.7s ease-in-out;
                        height: 30px;
                        line-height: 18px;
                        padding: 40px 2px;
                        border-radius: 1px;
                        background: #ffffff;
                        //padding: 28px;
                    }
                }


                .btn {
                    z-index: 100;
                    position: absolute;
                    right: 0;
                    top: 0;
                    left: 0;
                    background-color: #f6f6f6;
                    padding: 28px 19px;
                    border-radius: 0;
                    border: none;
                    i {
                        opacity: 0.37;
                        color: grey;
                        padding: 17px 3px;
                    }
                }
            }
            .navbar-nav-blog {
                .nav-center {
                    font: 400 1.125rem/2.25rem "P T Sans";
                    a {
                        padding-top: 28px;
                        padding-bottom: 25px;
                    }
                }
            }
            .navbar-right-blog {
                font: 400 1.125rem/2.25rem "P T Sans";
                li {
                    a {
                        padding: 28px 13px 25px 25px;

                    }
                }
            }
        }
        .navbar-header-blog {

            h1 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .section {
            font: 700 1.125rem/2.25rem "P T Sans";
            bottom: 38%;
            a {
                color: white;
            }
        }
        .section-content{
            .date-bg-content {
                right: 2%;
            }
        }
        .section-top-prew,
        .section-bottom-prew {
            .section-prew {
                bottom: 35%;
            }
        }
    }
    .section-welcome {
        .carousel-inner-blog{
            .item-blog{
                .item-caption-blog {
                    top:20%;
                    .text-welcome {
                        color: white;
                        font: 400 3rem/3.75rem "P T Serif";
                        span {
                            display: block;
                        }
                    }
                }
            }

        }
    }

    .section {
        font: 700 1.125rem/2.25rem "P T Sans";
        bottom: 38%;
    }
    .e-maile {
        .form-mail-blog {
            .form-control-blog {
                padding: 25px;
            }
        }
    }
}

@media (min-width: 2000px) {
    html {
        font-size: 16px;
    }
    .navbar-default-blog {
        .navbar-collapse-blog {
            #search {
                float: left;
                margin-top: 9px;
                width: 250px;
            }


            .search {
                background: #FFFFFF;
                padding: 5px 0;
                width: 60px;
                height: 30px;
                position: relative;
                left: 0;
                //float: left;
                line-height: 22px;
                -webkit-transition: all 0.7s ease-in-out;
                -moz-transition: all 0.7s ease-in-out;
                -o-transition: all 0.7s ease-in-out;
                transition: all 0.7s ease-in-out;
                &:hover {

                    //width: 230px;
                    input, input:focus {
                        width: 170px;
                        margin-left: 60px;
                    }

                }

                input {
                    border: 1px solid #cdcdcd;
                    z-index: 50;
                    position: absolute;
                    width: 0;
                    top: 0;
                    float: Left;
                    margin-left: 53px;
                    -webkit-transition: all 0.7s ease-in-out;
                    -moz-transition: all 0.7s ease-in-out;
                    -o-transition: all 0.7s ease-in-out;
                    transition: all 0.7s ease-in-out;
                    height: 30px;
                    line-height: 18px;
                    padding: 40px 2px;
                    border-radius: 1px;
                    background: #ffffff;
                }
            }


            .btn {
                z-index: 100;
                position: absolute;
                right: 0;
                top: 0;
                left: 0;
                background-color: #f6f6f6;
                padding: 28px 19px;
                border-radius: 0;
                border: none;
                i {
                    opacity: 0.37;
                    color: grey;
                }
            }
            .navbar-left {
            }
            .navbar-nav-blog {
                .nav-center {
                    font: 400 1.125rem/2.25rem "P T Sans";
                    a {
                        padding-top: 28px;
                        padding-bottom: 25px;
                    }
                }
            }
            .navbar-right-blog {
                //width: 462px;
                font: 400 1.125rem/2.25rem "P T Sans";
                li {
                    a {
                        padding: 28px 13px 25px 25px;

                    }
                }
            }
        }
        .navbar-header-blog {

            h1 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .section {
            font: 700 1.125rem/2.25rem "P T Sans";
            bottom: 38%;
            a {
                color: white;
            }
        }
    }
    .section-welcome {
        .item-caption-blog {
            position: absolute;
            top: 0;
            .text-welcome {
                color: white;
                font: 400 3rem/3.75rem "P T Serif";
                span {
                    display: block;
                }
            }
        }
    }
    .section {
        font: 700 1.125rem/2.25rem "P T Sans";
        bottom: 38%;
    }
    .bg-content {
        position: absolute;
        top: 45%;
        text-align: center;
        color: #ffffff;
        font: 400 3rem/1.875rem "P T Serif";
        .smale {
            font: 400 1.125rem/1.875rem "P T Serif";
            display: block;
        }
    }
    .section-welcome {
        .carousel-inner-blog {
            .item-blog {
                .item-caption-blog {
                    top: 20%;
                    .text-welcome {
                        color: white;
                        font: 400 3rem/3.75rem "P T Serif";
                        span {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .section-content{
        padding-top: 46px;
        padding-bottom: 92px;
    }
    .section-top-prew,
    .section-bottom-prew {
        padding-top: 67px;
        padding-bottom: 57px;
    }
    .e-maile {
        padding-top: 102px;
        padding-bottom: 160px;
        .form-mail-blog {
            padding-top: 48px;
            .form-control-blog {
                padding: 25px;
            }
        }
    }
    #footer{
        padding-top: 81px;
        padding-bottom: 203px;
    }
}
